:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --verylightgrayishblue: hsl(210, 60%, 98%);
  --lightgrayishblue1: hsl(211, 68%, 94%);
  --lightgrayishblue2: hsl(205, 33%, 90%);
  --grayishblue: hsl(219, 14%, 63%);
  --darkgrayishblue: hsl(219, 12%, 42%);
  --verydarkblue: hsl(224, 21%, 14%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--verylightgrayishblue);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#main-container {
  background-color: var(--white);
  width: 375px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

button {
  background-color: inherit;
  color: var(--grayishblue);
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover,
button:active {
  color: var(--blue);
}

.notification-link-div, 
.notification-image-div {
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  justify-content: start;
}

.notification-link-div {
  grid-template-columns: auto 1fr;
}

.notification-image-div {
  grid-template-columns: auto 1fr auto;
}

.avatar,
.thumbnail {
  width: 35px;
  height: auto;
  grid-row: 1 / span 2;
  cursor: pointer;
}

.avatar {
  grid-column: 1;
}

.thumbnail {
  grid-column: 3;
}

.name {
  color: var(--verydarkblue);
  font-weight: 800;
  margin-right: 5px;
}

.action {
  color: var(--darkgrayishblue);
}

.linked-content {
  margin-left: 5px;
}

.time-since-action {
  color: var(--grayishblue);
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}

a:hover,
a:active {
  color: var(--blue);
}

.group-link {
  color: var(--blue);
}

.post-link {
  color: var(--darkgrayishblue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
