:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --verylightgrayishblue: hsl(210, 60%, 98%);
  --lightgrayishblue1: hsl(211, 68%, 94%);
  --lightgrayishblue2: hsl(205, 33%, 90%);
  --grayishblue: hsl(219, 14%, 63%);
  --darkgrayishblue: hsl(219, 12%, 42%);
  --verydarkblue: hsl(224, 21%, 14%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--verylightgrayishblue);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

#main-container {
  background-color: var(--white);
  width: 340px;
  border-radius: 10px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center
}

header b {
  font-size: 20px;
  color: var(--verydarkblue);
}

#headline {
  display: flex;
  align-items: center;
}

#number-of-unread {
  background-color: var(--blue);
  color: var(--white);
  font-size: 12px;
  font-weight: 800;
  margin-left: 8px;
  padding: 2px 8px 3px;
  border-radius: 4px;
}

button {
  background-color: inherit;
  color: var(--grayishblue);
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover,
button:active {
  color: var(--blue);
}

.notification-link-div, 
.notification-image-div {
  padding: 12px 15px;
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  justify-content: start;
  border-radius: 6px;
  cursor: pointer;
}

.notification-link-div {
  grid-template-columns: auto 1fr;
}

.notification-image-div {
  grid-template-columns: auto 1fr auto;
}

.unread {
  background-color: var(--verylightgrayishblue);
}

.avatar,
.thumbnail {
  width: 35px;
  height: auto;
  grid-row: 1 / span 2;
  cursor: pointer;
}

.avatar {
  grid-column: 1;
  margin-right: 10px;
}

.thumbnail {
  grid-column: 3;
  margin-left: 18px;
}

.name {
  color: var(--verydarkblue);
  font-weight: 800;
  margin-right: 5px;
  cursor: pointer;
}

.action {
  color: var(--darkgrayishblue);
}

.linked-content {
  margin-left: 5px;
}

.unread-dot {
  color: var(--red);
  font-size: 8px;
  margin-left: 8px;
  position: relative;
  bottom: 2px;
}

.time-since-action {
  color: var(--grayishblue);
  padding-top: 2px;
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}

a:hover,
a:active {
  color: var(--blue);
}

.group-link {
  color: var(--blue);
}

.post-link {
  color: var(--darkgrayishblue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
